__pycache__
checkpoints
dataset
datasets/Human36M
dataset/h36m
dataset/h36m_M
experiments
glove
wandb
output
code_distribution.json
text_embedding
text_embedding_77
render_h36m
script
render_hact12
render_amass
tmp/*